@using ProductsAndCategories.Models
@model Product

@{
    ViewData["Title"] = "Products";
}

<partial name="PNavPartial"/>

<div class="full-height products row remove-padding">
  <div class="col-sm-1 h-100 remove-padding"></div>
  <div class="col-sm-4 h-100 remove-padding">

    <!-- start left content -->
    <div class="card w-100 mt-4 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">@Model.Name - @Model.PriceString</h5>
        <hr>
        <p class="card-text text-justify">@Model.Description</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item font-weight-bold">Categories:</li>
        @foreach (var cat in Model.AssociatedCategories) {
        <li class="list-group-item">@cat.Category.Name</li>
        }
      </ul>
    </div>
    <!-- end left content -->

  </div>
  <div class="col-sm-1 h-100 remove-padding"></div>
  <div class="col-sm-1 h-100 remove-padding"></div>
  <div class="col-sm-4 h-100 remove-padding">
    
    <!-- start right content -->
    <h5 class="my-4">Add Category:</h5>
    <form asp-action="AddCategory" asp-controller="home" method="POST">
      <select name="Id" class="form-control mb-3">
        <option value="0"></option>
        @foreach (var category in ViewBag.UnassociatedCategories){
        <option value="@category.CategoryId">@category.Name</option>
        }
      </select>
      <button type="submit" class="btn btn-outline-dark btn-block">ADD CATEGORY</button>
      @Html.Raw(TempData["alertMessage"])
    </form>
  </div>
  <div class="col-sm-1 h-100 remove-padding"></div>
</div>